*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RedHatTextRegular';
   
}

/*IOS speciality to avoid double clicks on events*/
.button-add-product {

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

}

/*Font Family */

@font-face {
  font-family: 'RedHatText';
  src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'RedHatTextItalic';
  src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'RedHatTextBold';
  src: url(assets/fonts/static/RedHatText-Bold.ttf);
}
@font-face {
  font-family: 'RedHatTextRegular';
  src: url(assets/fonts/static/RedHatText-Regular.ttf);
}
@font-face {
  font-family: 'RedHatTextSemiBold';
  src: url(assets/fonts/static/RedHatText-SemiBold.ttf);
}

/*End Font Family*/


body{
  background-color: hsl(13, 31%, 94%);
 
}

h1{
    margin: 15px;
    font-family: 'RedHatTextBold';
    font-weight: 400;

}

/*Product Styling*/

.product-container{
  margin: 20px;
  
}

.product-img-container > *{
  display: none;
}

.product-img-container{
    position: relative;
    margin-bottom: 30px;
}

.product-type{
  color: hsl(7, 20%, 60%);
  margin-bottom: 5px;
  font-family: 'RedHatTextItalic';
}

.product-name{
  font-family: 'RedHatTextSemiBold';
  font-weight: 400;
  margin-bottom: 5px;
}

.product-price{
  font-family: 'RedHatText';
  font-weight: 600;
  color: hsl(14, 86%, 42%);
}


/*Change Product Image when button active*/
.product-img-container-active > img{
  border: 2px solid hsl(14, 86%, 42%);
  border-radius: 10px;
}

/*End Product Styling*/
/*******************/

/*Desktop Styling*/
main{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  
}

.cart-container{
  height: fit-content;
  min-width: 350px;
}

.product-flex-container{
  display: flex;
  flex-wrap: wrap;
  
  
}

.product-img-desktop{
  display: block;
  width: 350px;
}

/*End Desktop Styling*/


/*Start Tablet Styling*/
@media screen and (max-width: 810px ) and (min-width: 451px) {

  .product-img-desktop{
    display: none;
    
  }
  .product-img-tablet{
    display: block;
    width: 250px;
  }

  main{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .product-flex-container{
   justify-content: center;
  }


  .cart-container{
    width: 70%;
  }

  .dessert-products{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dessert-products h1{
    padding-top: 20px;
  }

  
}

/*End Tablet Styling*/


/*Mobile Styling*/

@media screen and (max-width: 450px) {

  .product-img-desktop{
    display: none;
  }
  .product-img-mobile{
    display: block;
    width: 100%;
  }

  main{
    display: block;
    padding: 0;
  }

  .product-flex-container{
    display: block;
  }

  .cart-container{
    min-width: 0;
  }

}

/*End Mobile Styling*/


/*Start Button 'Add to Cart' Styling*/
/*Standard Button*/

.button-container{
  height: 35px;
  width: 125px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
  position: absolute;
  bottom: -17px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: hsl(14, 86%, 42%);
  display: flex;
  justify-content: center;

}


.icon-plus-container, .icon-minus-container{
  display: none;
}

.button-add-product{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-style: none;
  background-color: white;
  color: black;
  font-family: 'RedHatText';
  
  
}

.button-add-product img{
  height: 20px;
}

/*Hover Button*/
.button-add-product:hover {

    background: hsl(14, 86%, 42%);
    color: white;
   
  }
  


.button-add-product:hover img{
  display: none;
}

 /*After Click on Button
 /*Javascript adds this class and this style*/

 .button-add-product-active{
  width: 50%;
  position: static;
  background-color: hsl(14, 86%, 42%);
  color: white;
  cursor: auto;

 }

 .icon-minus-active, .icon-plus-active{
  display: block;
  width: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 }

 .icon-minus-active img, .icon-plus-active img{
  width: 20px;
  cursor: pointer;
  
 }
 
 .icon-plus-full, .icon-minus-full{
  display: none;
 }

/*End Button 'Add to Cart' Styling*/
/*******************/

/*Start Cart Styling*/

.cart-container{
  background-color: white;
  margin: 20px;
  padding: 5px 20px;
  max-width: 500px;
}

.cart-item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 0.5px solid hsla(6, 19.6%, 60%, 0.16);
}

.cart-item-data{
  display: flex;
  flex-direction: column; 
  gap: 7.5px;
}

.cart-item-price{
  display: flex;
  gap: 15px;
}

.cart-total-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  
}

.carbon-neutrality{
  display: flex;
  background-color: hsl(13, 31%, 94%);
  padding: 15px 5px;
  justify-content: center;
  align-items: center;

}

/*Cart Classes display none until we add items to the cart*/
.cart-total-container, .carbon-neutrality, .confirm-order-button{
  display: none;
}

/*Font Color and Style for Labels*/

.cart-container h1{
  color: hsl(14, 86%, 42%);
  text-align: center;
}

.cart-product-name{
  font-family: 'RedHatTextSemiBold';
}

.cart-amount{
  color: hsl(14, 86%, 42%);
  font-family: 'RedHatTextSemiBold';
}

.cart-price-single{
color: hsl(7, 20%, 60%);
}

.cart-price-total{
  color: hsl(12, 20%, 44%);
  font-family: 'RedHatTextSemiBold';
}


.cart-total-all{
  font-family: 'RedHatTextBold';
  font-size: 1.5rem;
}

/*Cart Button 'Confirm' Styling*/

.confirm-order-button, .new-order-button{
  margin: 20px 0;
  cursor: pointer;
  color: white;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border-style: none;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
  background: hsl(14, 86%, 42%);
  
  
}

.confirm-order-button:hover, .confirm-order:active, .new-order-button:hover, .new-order-button:active {
  background: hsl(14, 86%, 38%);
}

/* Cart item delete icon*/

.cart-item-delete-icon{
  padding: 3px;
  border: 1.5px solid #CAAFA7;
  border-radius: 50px;
  cursor: pointer;
  color: #CAAFA7;
}

.cart-item-delete-icon:hover{
  fill: black;
  border: 1.5px solid black;
  color: black;
}

/*Cart Empty Styling*/

.cart-empty-container{
  margin-top: 20px;
  margin-bottom: 35px;
  gap: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-empty-label{
  color: hsl(12, 20%, 44%);
}

/*End Cart Styling*/
/*******************/


/*Cart Confirmed Styling*/
.confirmed-booking-modal{
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  border: none;
  max-width: none;
  width: min(100vw, 500px);
  margin: auto;
}

.confirmed-product-image{
  width: 60px;
}

.confirmed-booking-modal h1{
  margin: 0;
}

.confirmed-cart-item-container,.confirmed-cart-total-container {
  display: flex;
  background-color: hsl(13, 31%, 94%);
  padding: 15px;
  justify-content: flex-start;
  
}

.confirmed-cart-total-container{
  align-items: center;
  justify-content: space-between;
  
}

.confirmed-cart-all-items{
  padding-top: 20px;
}

.confirmed-cart-item-price{
  display: flex;
  gap: 20px;
  
  
}

.confirmed-cart-item-data{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;

}

.confirmed-cart-item-container{
  border-bottom: 0.5px solid hsla(6, 19.6%, 60%, 0.16);
}

.confirmed-cart-product-name{
  font-family: 'RedHatTextSemiBold';
}

.confirmed-cart-amount{
  color: hsl(14, 86%, 42%);
  font-family: 'RedHatTextSemiBold';
}

.confirmed-cart-price-single{
color: hsl(7, 20%, 60%);
}

.confirmed-cart-price-total{
  align-self: center;
  font-family: 'RedHatTextSemiBold';  
  margin-left: auto;
}


.confirmed-cart-total-all{
  font-family: 'RedHatTextBold';
  font-size: 1.3rem;
}

.confirmed-cart-total-label{
  font-size: 0.9rem;
}

.confirmed-booking-modal h1{
  padding-top: 10px;
}

/*End cart Confirmed Styling*/
/****************************/